<div class="container">
    <mat-card class="box-shadow">
        <mat-card-content>
            <h1 class="display-1; text-center">Sign Up Form</h1>
            <mat-divider></mat-divider>
            <div class="content">
                <div class="mb-4 mt-4">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="abc@gmail.com">
                </div>
                <div class="mb-4 mt-4" >
                    <label for="inputPassword5" class="form-label">Password</label>
                    <input type="password" id="inputPassword5" class="form-control"
                        aria-describedby="passwordHelpBlock">
                </div>
            </div>

            <div class="text-center"> <button type="button" class="btn btn-success box-shadow">Sign Up</button></div>

        </mat-card-content>
    </mat-card>
</div>``